<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft,VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnittestFramework,version=10.0.0.0,Culture=neutral PublicKeyToken=fgh46fgdfg564"/>
  </configSections>
  <connectionStrings>
    <add name="SqlDbConnection" connectionString="server=(localdb)\\MSSQLLocalDB;database=TestDB;Trusted_Connection=true" providerName="System.Data.SqlClient"/>
    <add name="XmlConnection" connectionString="Employees.XML" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML"/>
    <add name="CSVConnection" connectionString="Employees.CSV" providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV"/>
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <Add name="UnitTestDataSource" ConnectionString="SqlDbConnection" dataTableName="Employees" dataAccessMethod="Sequential"/>
      <!--<Add name="UnitTestDataSource" ConnectionString="XmlConnection" dataTableName="Employee" dataAccessMethod="Sequential"/>-->
      <!--<Add name="UnitTestDataSource" ConnectionString="CSVConnection" dataTableName="Employees.csv" dataAccessMethod="Sequential"/>-->

    </dataSources>
  </microsoft.visualstudio.testtools>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
